/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.move:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease;
}
.noticias {
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.container-noticia {
  background-color: lightgray;
  width: 31%;
  height: 25rem;
  margin: 0.2rem;
  border-radius: 1rem;
}
.cuerpo-noticia {
  width: 95%;
  margin: auto;
  height: 69%;
  display: block;


}
.cuerpo-noticia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid darkgray
}
.footer-noticia {
  width: 100%;
  background-color: lightgray;
  height: 4rem;
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titulo-noticia {
  background-color: lightgray;
  height: 4rem;
  border-radius: 1rem 1rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
button {
  border-radius: 10px;
  border-color: transparent;
  background-color: green;
  text-align: center;
  color: white;
  font-family: system-ui;
  font-size: larger;
}

input {
  width: 23vw;
  height: 2.5vw;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
  border-color: transparent;
  margin-bottom: 25px;
  color: gray;
}

body {
  font-size: 1.2rem;
  min-height: 100vh;
  text-align: center;
}
.datos {
  width: 100%;
  text-align: left;
  padding: 2rem;
}

.route {
  width: 80%;
  height: 10%;
  margin: 20px 0 0 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
}

.green {
  background-color: green;
}

.route a {
  margin-left: 10px;
  color: gray;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  margin: 0 0 0 20px;
  background-color: green;
  height: 70%;
  width: 18%;
  max-width: 300px;
  min-width: 250px;
}

td,
th {
  padding: 8px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  border-right: none;
  overflow: hidden;
}

tr:last-child td {
  border-bottom: none;
}

.tableDialog {
  width: 100%;
}
table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.facturaTotal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.divTotalFactura {
  padding-right: 1vw;
}

.select-status {
  width: 4rem;
  height: 3rem;
  font-size: x-large;
  border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template:
        /*posicion y alto*/
    "header" 200px
    /*Alto y posicion 1*/
    "sidebar" 50px
    "main" auto
    "section" 200px
    "footer" 50px;

  /* Anidamos y declaramos las zonas */
  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }

  .aside {
    grid-area: aside;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
    max-width: 70rem;
  }

  .section {
    grid-area: section;

    /* background-color: gray; */
  }

  .footer {
    grid-area: footer;

    /* background-color: orange; */
  }

  /* tablet */
  @media (width >= 768px) {
    grid-template:
      "header header header" 150px
      "sidebar main section"
      "footer footer footer" 50px /
      200px auto 200px;

    /* anchura */
  }

  /* Laptop */
  @media (width >= 992px) {
    grid-template:
      "header header header" 150px
      "sidebar main section" auto
      "footer footer footer" 50px /
      300px auto 400px;

    /* anchura */
  }
}
