{{yield}}

<form id="Form-Usuarios" onsubmit={{@onSubmitForm}} style="
        width: 100%;
        height: 80%;
        display: flex;
        ">
<div class="div-form-usuarios" style="
width: 50%;
height: 90%; 
padding:1.5vw 3.5vw 0vw 2.0vw;
">


<Inputform
@placeholder=" nombre"
@name="name"
@type="text"
>Nombre</Inputform>

<Inputform
@placeholder="s apellidos"
@name="apellido"
@type="text"
>Apellidos</Inputform>

<Inputform
@placeholder=" curso"
@name="curso"
@type="text"
>Curso</Inputform>

<Inputform
@placeholder=" direccion"
@name="direccion"
@type="text"
>Direccion</Inputform>

<Inputform
@placeholder=" fecha de nacimiento"
@name="fecha_nacimiento"
@type="date"
@min={{@dateNow}}
>
Fecha de nacimiento
</Inputform>

<div style="
display: flex;
align-items: center; 
color:gray">
    <p style="
    padding: 1vw; 
    font-size: larger;
    ">
    Familia numerosa
    </p>

<label class="switch">
    <input type="checkbox" value="si son" name="familiaNum" >
    <span class="slider round"></span>
</label>
   

</div>

</div>

 <div class="
    div-form-usuarios" 
    style="
    width: 50%;
    height: 90%;
    padding:1.5vw 3.5vw 1.5vw 2.5vw">

<Inputform
@placeholder=" DNI"
@name="dni"
@type="text"
>DNI(Alumno)</Inputform>

<Inputform
@placeholder=" numero de telefono"
@name="telefono"
@type="text"
>Apellidos(Alumno)</Inputform>

<Inputform
@placeholder=" DNI de contacto"
@name="dni_contacto"
@type="text"
>DNI(Contacto)</Inputform>

<Inputform
@placeholder=" email"
@name="email"
@type="email"
>Email</Inputform>

<Inputform
@placeholder=" telefono de contacto"
@name="tel_contacto"
@type="text"
>Telefono(Contacto)</Inputform>



<button class="move" style="margin-left: 7rem;padding: 0.4rem;" onsubmit={{@onClick}} type="submit">Crear estudiante</button>
</div>
</form> 
