{{yield}}
<div class="noticias">
<div class="container-noticia">
      <div class="titulo-noticia">
         Acusado joven por agredir a la directora del centro escolar
      </div>
      <div class="cuerpo-noticia">
      <img alt="Imagen-noticia" src="Noticia1.webp"/>
      </div>
        <div class="footer-noticia">
          leer mas
          <div>v</div>
        </div>
  </div>


  <div class="container-noticia">
    <div class="titulo-noticia">
      Carta de amor de un docente enamorado en secreto
    </div>
    <div class="cuerpo-noticia">
      <img alt="Imagen-noticia"  src="Noticia2.jpg" />
    </div>
      <div class="footer-noticia">
        leer mas
        <div>v</div>
      </div>

  </div>


  <div class="container-noticia">
    <div class="titulo-noticia">
      Cuestiona TODO incluso su propia existencia
    </div>
    <div class="cuerpo-noticia">
      <img alt="Imagen-noticia" src="Noticia3.jpg"/>
    </div>
      <div class="footer-noticia">
        leer mas
        <div>v</div>
      </div>
  </div>

</div>

