
{{!-- LABEL ENTERA --}}
<div class="itemFormProduct"
style="
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    width: 23rem;

    font-size: larger;
">

<p>{{yield}}</p>


<input type="number" value="0" min="0" name={{@name}}
style="
    height: 3vw;
    width: 4vw;
    border-radius: 1vw;
    border: 1px solid gray;
    text-align: center;
    font-size: large;
    margin: 0.5rem;
    margin-left: 1rem;
">
</div>