{{yield}}
<table class="table" 
        style="
            height: 80%;
            width: 90%;
            text-align: center;
            background-color: white;
            font-family: system-ui;
        
            ">
        <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Fecha de Nacimiento</th>
                    <th>DNI</th>
                    <th>Contacto Principal</th>
                    <th>DNI de Contacto</th>
                    <th>Teléfono de Contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre1</td>
                    <td>Apellidos1</td>
                    <td>Dirección1</td>
                    <td>Fecha1</td>
                    <td>45454545S</td>
                    <td>Contacto1</td>
                    <td>DNIContacto1</td>
                    <td>TeléfonoContacto1</td>
                </tr>
                 <tr>
                    <td>Nombre1</td>
                    <td>Apellidos1</td>
                    <td>Dirección1</td>
                    <td>Fecha1</td>
                    <td>45454545S</td>
                    <td>Contacto1</td>
                    <td>DNIContacto1</td>
                    <td>TeléfonoContacto1</td>
                </tr>
                  <tr>
                    <td>Nombre1</td>
                    <td>Apellidos1</td>
                    <td>Dirección1</td>
                    <td>Fecha1</td>
                    <td>45454545S</td>
                    <td>Contacto1</td>
                    <td>DNIContacto1</td>
                    <td>TeléfonoContacto1</td>
                </tr>
            </tbody>
        </table> 