{{page-title "Comandas"}}
<Layout >
<h1  style=" text-align: left; padding: 10px;font-size: xxx-large;">Comandas</h1>
<form id="formComandas" style="display: flex; flex-direction: column; align-items: center;">
<Producto @name="">Comedor 8,5€</Producto>
<Producto @name="">Comedor 8,5€</Producto>
<Producto @name="">Comedor 8,5€</Producto>
<Producto @name="">Comedor 8,5€</Producto>
<Producto @name="">Comedor 8,5€</Producto>
<Producto @name="">Comedor 8,5€</Producto>
</form>
<Button @margin-left={{46}}
>Realizar comanda</Button>
</Layout>