{{page-title "Estudiantes"}}
<Layout 
@logOut={{this.logOut}} 
@user={{this.login.userType}}
>
    <h1  style=" text-align: left; padding: 10px;font-size: xxx-large;">Estudiantes</h1>
   {{!-- TODO: si es user vera el Formulario usuario
        Admin: Tabla buscar ususario (Acuerdate del inpit) --}}
   <Formulariousuario
   @onClick={{this.onSubmitForm}}
   >

   </Formulariousuario>
</Layout>