{{page-title "Estudiantes"}}
<Layout 
@logOut={{this.logOut}} 
@user="Usuario"
>
    <h1  style=" text-align: left; padding: 10px;font-size: xxx-large;">Estudiantes</h1>
   {{!-- TODO: si es user vera el Formulario usuario
        Admin: Tabla buscar ususario (Acuerdate del inpit) --}}
   <Formulariousuario>

   </Formulariousuario>
</Layout>