{{page-title "Facturacion"}}
<Layout
 @logOut={{this.logOut}}
 @user={{this.login.userType}}
  >
    <h1 style="text-align: left;padding: 10px; font-size: xxx-large;">Facturacion</h1>
    <Tabla></Tabla>
</Layout>