{{page-title "Facturacion"}}
<Layout
 @logOut={{this.logOut}}
 @user="Usuario"
  >
    <h1  style="text-align: left;padding: 10px; font-size: xxx-large;">Facturacion</h1>
    <Tabla></Tabla>
</Layout>