{{page-title "Cide"}}


<Layout 
@logOut={{this.login.logOut}}
@user={{this.login.userType}}
@route="Principal"
>
  <h1 style="text-align: left;padding: 10px;font-size: xxx-large;">Principal</h1>

</Layout>