{{page-title "Login"}}
<Loginform
@title="Inicia Sesion"
@buttonText="Iniciar sesion"
@askText="¿No tienes cuenta?"
@routeText="Registrate"
@hrefAux="/registre"
@onHandleClick={{this.onHandleClick}}
@idForm="loginForm"
>
<div style="
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
">

      <Inputform @placeholder=" usuario" @name="user">
      Usuario
      </Inputform>

      <Inputform @placeholder=" contraseña" @type="password" @name="password">
      Contraseña
      </Inputform>

</div>


</Loginform>